* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(89, 114, 114);
    text-align: center;
    color: cornflowerblue;
}

.first-container {
    width: 30%;
    margin: 0 35%;
}

.images {
    height: 20rem;
    max-width: 100%;
}

.product-title {
    font-size: 3rem;
    margin: 20px 0;
    text-transform: uppercase;
}

.product-description {
    font-size: 17px;
    margin: 25px 0;
}

#btn {
    background-color: rgb(107, 184, 187);
    color: bisque;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid rgb(105, 83, 55);
    border-radius: 8px;
    margin-top: 2rem;
}

#btn .line {
    text-decoration: underline;
}

#btn:hover {
    transition-duration: 0.5;
    background-color: cornflowerblue;
}

@media screen(max-width:600px) {}